* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: oklch(18% 0.01 260);
    color: #94a3b8;
}

.portfolio-container {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    gap: 2rem;
    background-color: rgba(255, 0, 0, 0.1);
}

.left-section {
    width: 45%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 6rem 0;
    background-color: pink;
    color: black;
}

ul {
    list-style: none;
}


.right-section {
    width: 55%;
    height: 200vh;
    padding: 6rem 2rem;
    background-color: green;
    color: black;
    line-height: 1.6;
}

.right-section p {
    margin-bottom: 1.2rem;

}